.upperpart2 {
  position: absolute;
  top: -159px;
  left: -105px;
  background-color: var(--color-lightgray-200);
  filter: blur(85px);
  width: 1651px;
  height: 914px;
}
.btnabout2,
.btnlogin2,
.btnregister2 {
  position: absolute;
  top: 44px;
  left: 1240px;
  cursor: pointer;
}
.btnabout2,
.btnregister2 {
  left: 1122px;
}
.btnabout2 {
  left: 1030px;
}
.lowerpart2 {
  position: absolute;
  bottom: -76px;
  left: -49px;
  background-color: var(--color-lightgray-200);
  width: 1538px;
  height: 938px;
}
.image1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1760px;
  height: 1586px;
  object-fit: cover;
}
.every-canvass-is2 {
  position: absolute;
  top: 135px;
  left: 0;
}
.a0f1baed2deef692f8b1e0ff257aa0-icon2 {
  position: absolute;
  top: 19px;
  left: 103px;
  width: 80px;
  height: 99px;
  object-fit: cover;
}
.artistico3 {
  position: absolute;
  top: 60px;
  left: 202px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-shrikhand);
}
.image2-icon2 {
  position: absolute;
  top: 0;
  left: 79px;
  border-radius: var(--br-4xs);
  width: 121px;
  height: 135px;
  object-fit: cover;
}
.upperlogo2 {
  position: absolute;
  top: 90px;
  left: 157px;
  width: 563px;
  height: 160px;
  font-family: var(--font-syncopate);
}
.btnartistico2 {
  position: absolute;
  top: 32px;
  left: 130px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-shrikhand);
  cursor: pointer;
}
.span3 {
  color: var(--color-black);
}
.all-about-the-container2 {
  position: absolute;
  top: 1328px;
  left: 97px;
  font-size: var(--font-size-45xl);
  line-height: 55px;
  font-family: var(--font-shrikhand);
  color: var(--color-white);
}
.privacy-policy5 {
  position: absolute;
  top: 1435px;
  left: 1203px;
  font-size: var(--font-size-xl);
  cursor: pointer;
}
.socialicons2 {
  position: absolute;
  top: 1330px;
  left: 1223px;
  width: 133px;
  height: 51px;
  object-fit: cover;
}
.terms-conditions2 {
  position: absolute;
  top: 1435px;
  left: 972px;
  font-size: var(--font-size-xl);
  cursor: pointer;
}
.these-terms-and {
  margin: 0;
  font-weight: 500;
}
.user-eligibility {
  margin: 0;
}
.blank-line11 {
  font-weight: 500;
}
.account-registration1 {
  font-family: var(--font-inter);
}
.these-terms-and-container {
  position: absolute;
  top: 285px;
  left: 134px;
  display: inline-block;
  width: 1189px;
  height: 1027px;
}
.termsandconditions {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1551px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
